.App {
  text-align: center;
}

img {
  width: 100%;
}

section {
  margin: 20px 0;
  padding: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#content {
  max-width    : 1400px;
  width: 100%;
  align-content: center;
  display      : inline-block;
  min-height: 70vh;
}

.cta {
  color          : #000000;
  text-decoration: underline;
  display        : block;
}