.App-header {
  background-color: $dark;
  font-weight: 700;
  color      : white;
  width           : 100vw;
  height          : 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  #name {
    color           : white;
    font-size: 30px;
    margin-bottom: 10px;
    text-decoration: none;
  }
}

#Navbar {
  background-color: transparent;
  height          : auto;
  a {
    color      : white;
    margin        : 2vw;
    font-size     : 1.2em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: lighter;
    text-decoration: none;
  }
}
