@import './variables.scss';
@import './App.scss';
@import './About.scss';
@import './Blog.scss';
@import './Footer.scss';
@import './Header.scss';
@import './Hero.scss';
@import './ProjectRow.scss';
@import './ProjectPage.scss';

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff8eb;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Hammersmith One', sans-serif;
  color: $dark;
}

button {
  padding         : 20px;
  margin          : 10px;
  background-color: #000000;
  color           : #ffffff !important;
  font-family   : "Josefin Sans", Avenir, Helvetica, sans-serif;
  text-transform  : uppercase;
  border          : none;
  @include shadow;
}

a {
  color: $accent-color;
}