
.project-card {
    border-radius: 5px;
    display: flex;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 5px 5px 0px rgba(199,187,199,0.5);
    transition: box-shadow ease-in-out 200ms;

    &:hover {
        box-shadow: 0px 5px 10px 0px rgba(199,187,199,1);
    }

    .project-image {
        width: 20%;
        padding: 20px;
        img {
            object-fit: cover;
            border-radius: 50%;
        }
    }

    .description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        padding-left: 20px;

        h3 {
            margin: 0;
        }
    }
}

@media only screen and (max-width: 768px) {
    .project-card {
        flex-direction: column;
        align-items: center;
        .project-image {
            width: 80%;
            text-align: center;
        }

        .description {
            text-align: center;
            padding-left: 0px;
        }
    }
}