
.project-card {
    border-radius: 5px;
    background-color: $medium;
    display: flex;
    padding: 10px;
    margin-bottom: 20px;
    @include shadow;

    .project-image {
        width: 20%;
        padding: 20px;
        img {
            object-fit: cover;
            border-radius: 50%;
        }
    }

    .description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        padding-left: 20px;

        h3 {
            margin: 0;
        }
    }
}

@media only screen and (max-width: 768px) {
    .project-card {
        flex-direction: column;
        align-items: center;
        .project-image {
            width: 80%;
            text-align: center;
        }

        .description {
            text-align: center;
            padding-left: 0px;
        }
    }
}